@import "tailwindcss";

@theme {
  --color-batakRed: #c1121f;
  --color-batakDark: #780000;
  --color-batakGold: #fdf0d5;
}

/* Pastikan body menggunakan warna default jika perlu */
body {
  background-color: #f9fafb; /* gray-50 */
  color: #1f2937;           /* gray-800 */
  font-family: sans-serif;
}